.expoImagenes {
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: auto;
  height: auto;
}

.expoImagenes img {
  border: 10px red;
  border-style: ridge;
  height: 400px;
  width: 500px;
}

.agradecimiento {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: underline;
  text-decoration-color: gold;